# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
*.gd text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.godot text eol=lf
*.json text eol=lf
*.md text eol=lf
*.js text eol=lf
*.html text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.svg text
*.pck binary
*.wasm binary
